<section class="rh-method-section">
  <div class="container_rh">
    <div class="sec-title">{{ section.settings.section_title | default: 'The Proven Babbel Method' }}</div>
    <div class="sec-des">
      {{
        section.settings.section_description
        | default: 'Learn a new language, fast. Our award-winning app uses the Babbel Method to help you speak confidently. You can complete quick lessons, practice conversations with an AI partner, listen to podcasts, and more.'
        | newline_to_br
      }}
    </div>
    <div class="rh-flex-method">
      {% for block in section.blocks %}
        <div
          class="rh-method-card {% if block.settings.highlight_card %}rh-method-card-highlighted{% endif %}"
          {{ block.shopify_attributes }}
        >
          <div class="rh-method-card-img">
            {% if block.settings.custom_image %}
              <img
                src="{{ block.settings.custom_image | image_url: width: 48, height: 48 }}"
                alt="{{ block.settings.title }}"
              >
            {% elsif block.settings.icon_type == 'subscription' %}
              <svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M42.5625 28.7346C40.8539 28.7346 39.4688 30.1198 39.4688 31.8284V29.9534C39.4688 28.2448 38.0836 26.8596 36.375 26.8596C34.6664 26.8596 33.2812 28.2448 33.2812 29.9534C33.2812 28.2448 31.8961 26.8596 30.1875 26.8596C28.4789 26.8596 27.0938 28.2448 27.0938 29.9534V21.9846C27.0938 20.276 25.7086 18.8909 24 18.8909C22.2914 18.8909 20.9062 20.276 20.9062 21.9846V38.5784C20.9062 39.355 20.2766 39.9846 19.5 39.9846C18.7234 39.9846 18.0938 39.355 18.0938 38.5784V31.8084L17.1151 32.7871C15.5698 34.3323 14.7188 36.3869 14.7188 38.5723C14.7188 40.7353 15.5987 42.8505 17.1328 44.3751L20.5903 47.8114C20.8438 48.1803 21.2687 48.4221 21.75 48.4221H40.5C40.8043 48.4221 41.1004 48.3234 41.3438 48.1409C44.0441 46.1155 45.6562 42.8912 45.6562 39.5159V31.8284C45.6562 30.1198 44.2711 28.7346 42.5625 28.7346Z"
                  fill="{{ block.settings.icon_color | default: '#5A287D' }}"
                />
                <path
                  d="M33.5242 10.6726C33.5242 10.6726 32.2115 10.6732 32.1371 10.6735V12.3705C32.6812 12.3685 33.2637 12.3665 33.5242 12.3665C33.9912 12.3665 34.3712 11.9865 34.3712 11.5195C34.3712 11.0526 33.9912 10.6726 33.5242 10.6726Z"
                  fill="{{ block.settings.icon_color | default: '#5A287D' }}"
                />
                <path
                  d="M45.1875 0.422119H2.8125C1.25916 0.422119 0 1.68128 0 3.23462V16.3596C0 17.913 1.25916 19.1721 2.8125 19.1721H18.8074C19.8086 17.3309 21.7608 16.0784 24 16.0784C26.2392 16.0784 28.1913 17.3309 29.1926 19.1721H45.1875C46.7408 19.1721 48 17.913 48 16.3596V3.23462C48 1.68128 46.7408 0.422119 45.1875 0.422119ZM18.4462 12.1313C18.1785 13.6307 16.7563 14.719 15.0646 14.719C13.716 14.719 12.4491 14.1743 11.5885 13.2248C11.1539 12.7453 11.1904 12.0041 11.67 11.5696C12.1494 11.1349 12.8906 11.1714 13.3253 11.651C13.7362 12.1046 14.3864 12.3753 15.0646 12.3753C15.7177 12.3753 16.0917 11.9839 16.139 11.7195C16.1945 11.4089 15.7464 11.1257 15.3088 10.9641C14.141 10.5333 13.1035 10.0715 13.0599 10.052C13.0035 10.0268 12.9492 9.99728 12.8975 9.96362C12.0305 9.3984 11.5837 8.40737 11.7316 7.37743C11.8883 6.28571 12.6828 5.39762 13.8049 5.05956C15.8664 4.43874 17.6986 5.52484 18.1027 6.28121C18.4076 6.85206 18.1921 7.56203 17.6213 7.86699C17.117 8.13643 16.504 7.99956 16.1577 7.57046C16.0242 7.47306 15.3587 7.03909 14.4809 7.30365C14.2345 7.3779 14.0781 7.52612 14.0516 7.71043C14.041 7.7844 14.048 7.88312 14.1292 7.96177C14.4229 8.08993 15.2425 8.44149 16.12 8.76512C18.1449 9.51212 18.6494 10.9938 18.4462 12.1313ZM27.9184 11.2025C27.9184 12.5382 27.1874 13.6419 25.86 14.3102C25.3215 14.5815 24.7287 14.7189 24.0983 14.7189C24.0963 14.7189 24.0945 14.7189 24.0925 14.7189C23.358 14.718 22.681 14.5229 22.0806 14.139C20.9411 13.411 20.3632 12.4248 20.3632 11.2078V6.04712C20.3632 5.39996 20.8879 4.87524 21.5351 4.87524C22.1823 4.87524 22.707 5.39996 22.707 6.04712V11.208C22.707 11.5564 22.811 11.8246 23.3426 12.1641C23.5643 12.3059 23.8106 12.3749 24.0956 12.3752C24.3584 12.3731 24.5937 12.3238 24.806 12.217C25.4834 11.8758 25.5747 11.5127 25.5747 11.2026V6.04712C25.5747 5.39996 26.0993 4.87524 26.7466 4.87524C27.3937 4.87524 27.9185 5.39996 27.9185 6.04712V11.2025H27.9184ZM33.5243 14.7101C32.9724 14.7101 30.9707 14.719 30.9704 14.719C30.9687 14.719 30.9669 14.719 30.9652 14.719C30.6554 14.719 30.3581 14.5963 30.1385 14.3776C29.9176 14.1576 29.7934 13.8588 29.7934 13.5471V9.50621V9.50059V6.04712C29.7934 5.39996 30.3181 4.87524 30.9652 4.87524H33.1438C34.7415 4.87524 36.0414 6.17509 36.0414 7.77287C36.0414 8.2794 35.9104 8.75584 35.6811 9.17059C36.3161 9.75418 36.7149 10.591 36.7149 11.5194C36.7149 13.2788 35.2836 14.7101 33.5243 14.7101Z"
                  fill="{{ block.settings.icon_color | default: '#5A287D' }}"
                />
                <path
                  d="M33.1438 8.32674C33.4491 8.32674 33.6977 8.07831 33.6977 7.77287C33.6977 7.46743 33.4492 7.21899 33.1438 7.21899H32.1371V8.32881C32.1371 8.32881 32.9851 8.32674 33.1438 8.32674Z"
                  fill="{{ block.settings.icon_color | default: '#5A287D' }}"
                />
              </svg>
            {% elsif block.settings.icon_type == 'chart' %}
              <svg width="44" height="46" viewBox="0 0 44 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43.0362 8.63742L34.9158 1.20987C34.5324 0.855654 34.0296 0.658936 33.5077 0.658936C32.9857 0.658936 32.483 0.855654 32.0996 1.20987L23.9793 8.63742C23.7189 8.8755 23.5366 9.1867 23.4562 9.53022C23.3758 9.87374 23.401 10.2335 23.5287 10.5624C23.6563 10.8913 23.8804 11.174 24.1715 11.3733C24.4626 11.5727 24.8071 11.6794 25.1599 11.6795H28.3833C28.4799 11.6796 28.5724 11.718 28.6406 11.7863C28.7088 11.8545 28.7472 11.947 28.7473 12.0435V33.7302C28.7478 34.1847 28.9286 34.6206 29.2501 34.942C29.5716 35.2634 30.0074 35.4442 30.462 35.4446H36.3741C36.8286 35.4441 37.2644 35.2634 37.5858 34.942C37.9073 34.6207 38.0881 34.1849 38.0886 33.7304V12.0435C38.0888 11.947 38.1272 11.8545 38.1954 11.7863C38.2637 11.718 38.3562 11.6796 38.4527 11.6795H41.8555C42.2083 11.6794 42.5529 11.5727 42.844 11.3733C43.1351 11.174 43.3591 10.8913 43.4868 10.5624C43.6144 10.2335 43.6397 9.87374 43.5593 9.53022C43.4789 9.1867 43.2965 8.8755 43.0362 8.63742Z" fill="{{ block.settings.icon_color | default: '#5A287D' }}" />
                <path d="M37.3387 42.2197H29.4975C29.1494 42.2197 28.8156 42.358 28.5694 42.6041C28.3233 42.8503 28.185 43.1841 28.185 43.5322C28.185 43.8803 28.3233 44.2142 28.5694 44.4603C28.8156 44.7064 29.1494 44.8447 29.4975 44.8447H37.3387C37.6868 44.8447 38.0206 44.7064 38.2667 44.4603C38.5129 44.2142 38.6512 43.8803 38.6512 43.5322C38.6512 43.1841 38.5129 42.8503 38.2667 42.6041C38.0206 42.358 37.6868 42.2197 37.3387 42.2197Z" fill="{{ block.settings.icon_color | default: '#5A287D' }}" />
                <path d="M37.3387 38.0737H29.4975C29.1494 38.0737 28.8156 38.212 28.5694 38.4582C28.3233 38.7043 28.185 39.0381 28.185 39.3862C28.185 39.7343 28.3233 40.0682 28.5694 40.3143C28.8156 40.5605 29.1494 40.6987 29.4975 40.6987H37.3387C37.6868 40.6987 38.0206 40.5605 38.2667 40.3143C38.5129 40.0682 38.6512 39.7343 38.6512 39.3862C38.6512 39.0381 38.5129 38.7043 38.2667 38.4582C38.0206 38.212 37.6868 38.0737 37.3387 38.0737Z" fill="{{ block.settings.icon_color | default: '#5A287D' }}" />
                <path d="M7.87348 27.271H2.22973C1.2087 27.271 0.380981 28.0987 0.380981 29.1197V43.1837C0.380981 44.2048 1.2087 45.0325 2.22973 45.0325H7.87348C8.89452 45.0325 9.72223 44.2048 9.72223 43.1837V29.1197C9.72223 28.0987 8.89452 27.271 7.87348 27.271Z" fill="{{ block.settings.icon_color | default: '#5A287D' }}" />
                <path d="M15.7275 18.9539H21.3719C21.8622 18.9539 22.3324 19.1486 22.6791 19.4953C23.0258 19.842 23.2205 20.3122 23.2205 20.8025V43.1835C23.2205 43.6738 23.0258 44.144 22.6791 44.4907C22.3324 44.8373 21.8622 45.0321 21.3719 45.0321H15.7275C15.2372 45.0321 14.767 44.8373 14.4203 44.4907C14.0737 44.144 13.8789 43.6738 13.8789 43.1835V20.8022C13.8789 20.5594 13.9267 20.319 14.0196 20.0948C14.1125 19.8705 14.2487 19.6667 14.4204 19.4951C14.592 19.3235 14.7958 19.1873 15.0201 19.0945C15.2444 19.0016 15.4848 18.9538 15.7275 18.9539Z" fill="{{ block.settings.icon_color | default: '#5A287D' }}" />
              </svg>
            {% elsif block.settings.icon_type == 'team' %}
              <svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_19_2235)">
                <path d="M45.0639 30.3877V27.3582H31.098C31.098 31.2782 27.9201 34.4562 24 34.4562C20.0798 34.4562 16.902 31.2783 16.902 27.3582H2.93604V30.3877L9.00054 31.0299C9.37882 32.5805 9.99128 34.0394 10.7984 35.3669L6.96325 40.1104L11.2477 44.3949L15.9912 40.5597C17.3187 41.3668 18.7776 41.9793 20.3283 42.3576L20.9704 48.4221H27.0295L27.6717 42.3576C29.2223 41.9793 30.6813 41.3668 32.0088 40.5597L36.7522 44.3949L41.0367 40.1104L37.2016 35.3669C38.0087 34.0394 38.6211 32.5805 38.9994 31.0299L45.0639 30.3877Z" fill="{{ block.settings.icon_color | default: '#5A287D' }}" />
                <path d="M24 0.422119C21.0001 0.422119 18.5594 2.86281 18.5594 5.86271C18.5594 8.86262 21.0001 11.3032 24 11.3032C26.9999 11.3032 29.4406 8.86262 29.4406 5.86271C29.4406 2.86281 26.9999 0.422119 24 0.422119Z" fill="{{ block.settings.icon_color | default: '#5A287D' }}" />
                <path d="M29.7925 12.8074H18.2075C15.5404 12.8075 13.3705 14.9772 13.3705 17.6443V24.5456H34.6295V17.6443C34.6295 14.9772 32.4596 12.8074 29.7925 12.8074Z" fill="{{ block.settings.icon_color | default: '#5A287D' }}" />
                <path d="M12.4581 2.9353C9.77069 2.9353 7.58435 5.12174 7.58435 7.80908C7.58435 10.4749 9.73601 12.6464 12.3937 12.6812C13.4943 11.3938 15.013 10.475 16.7384 10.1379C17.1166 9.44558 17.3319 8.65208 17.3319 7.80908C17.3319 5.12165 15.1456 2.9353 12.4581 2.9353Z" fill="{{ block.settings.icon_color | default: '#5A287D' }}" />
                <path d="M7.26907 14.0303C4.87985 14.0303 2.93604 15.974 2.93604 18.3633V24.5456H10.558V17.6442C10.558 16.3378 10.8878 15.1072 11.4677 14.0303H7.26907Z" fill="{{ block.settings.icon_color | default: '#5A287D' }}" />
                <path d="M35.5419 2.9353C32.8544 2.9353 30.6681 5.12174 30.6681 7.80908C30.6681 8.65199 30.8833 9.44558 31.2615 10.1379C32.987 10.475 34.5057 11.3938 35.6063 12.6812C38.264 12.6465 40.4157 10.4749 40.4157 7.80908C40.4157 5.12165 38.2293 2.9353 35.5419 2.9353Z" fill="{{ block.settings.icon_color | default: '#5A287D' }}" />
                <path d="M40.7309 14.0303H36.5323C37.1121 15.1072 37.4419 16.3378 37.4419 17.6442V24.5456H45.0639V18.3632C45.0639 15.974 43.1201 14.0303 40.7309 14.0303Z" fill="{{ block.settings.icon_color | default: '#5A287D' }}" />
                </g>
                <defs>
                <clipPath id="clip0_19_2235">
                <rect width="48" height="48" fill="white" transform="translate(0 0.422119)"/>
                </clipPath>
                </defs>
              </svg>
            {% else %}
              <img
                src="https://dummyimage.com/48x48/cccccc/666666&text=Icon"
                alt="{{ block.settings.title | default: 'Method Card' }}"
              >
            {% endif %}
          </div>
          <div class="rh-method-card-content">
            <div class="rh-method-card-title">{{ block.settings.title | default: 'Card Title' }}</div>
            <div class="rh-method-card-des">
              {{ block.settings.description | default: 'Card description' }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% style %}
  .rh-method-section {
    background: #ffffff;
    padding: 0px 10px;
  }
  .rh-method-section .container_rh {
    max-width: 1300px;
    background: #f2eaf9;
    margin: 0 auto;
    padding: 50px 20px;
    border-radius: 7px;
  }
  .rh-method-section .container_rh .sec-title {
    font-family: "Knile", sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #5A287D;
  margin: 0 0 25px;
  }
  .rh-method-section .container_rh .sec-des {
    font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: normal;
  text-align: center;
  color: #151515;
  margin: 0 0 50px;
  }
  .rh-method-section .container_rh .rh-flex-method {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 772px;
    margin: 0 auto;
    gap: 30px;
  }
  .rh-method-section .container_rh .rh-flex-method .rh-method-card {
    padding: 20px;
    width: 30%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 4px 15px 0px #0000000D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    transition: all 0.3s ease;
  }

  /* Highlighted/featured card styling */
  .rh-method-section .container_rh .rh-flex-method .rh-method-card-highlighted {
    padding: 57px 20px;
    width: 40%;
  }

  .rh-method-section .container_rh .rh-flex-method .rh-method-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(90, 40, 125, 0.15), 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-img img {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }
  .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-content .rh-method-card-title{
    font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: normal;
  text-align: center;
  color: #151515;
  margin: 0;
  }
  .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-content .rh-method-card-des{
    font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: normal;
  text-align: center;
  color: #151515;
  margin: 0;
  }

  /* Method Section Responsive Design */
  @media (max-width: 1200px) {
    .rh-method-section .container_rh {
      padding: 45px 20px;
    }
    .rh-method-section .container_rh .sec-title {
      font-size: 48px;
      margin: 0 0 20px;
    }
    .rh-method-section .container_rh .sec-des {
      font-size: 16px;
      margin: 0 0 40px;
    }
    .rh-method-section .container_rh .rh-flex-method {
      gap: 25px;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card {
      padding: 18px;
      gap: 14px;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card-highlighted {
      padding: 50px 18px;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-content .rh-method-card-title {
      font-size: 20px;
      line-height: 28px;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-content .rh-method-card-des {
      font-size: 16px;
      line-height: 22px;
    }
  }

  @media (max-width: 992px) {
    .rh-method-section .container_rh {
      padding: 40px 20px;
    }
    .rh-method-section .container_rh .sec-title {
      font-size: 42px;
      margin: 0 0 18px;
    }
    .rh-method-section .container_rh .sec-des {
      font-size: 16px;
      margin: 0 0 35px;
    }
    .rh-method-section .container_rh .rh-flex-method {
      gap: 20px;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card {
      padding: 16px;
      gap: 12px;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card-highlighted {
      padding: 45px 16px;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-img svg,
    .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-img img {
      width: 36px;
      height: 36px;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-content .rh-method-card-title {
      font-size: 18px;
      line-height: 24px;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-content .rh-method-card-des {
      font-size: 15px;
      line-height: 20px;
    }
  }

  @media (max-width: 768px) {
    .rh-method-section {
      padding: 0px 5px;
    }
    .rh-method-section .container_rh {
      padding: 35px 15px;
    }
    .rh-method-section .container_rh .sec-title {
      font-size: 36px;
      margin: 0 0 15px;
    }
    .rh-method-section .container_rh .sec-des {
      font-size: 16px;
      margin: 0 0 30px;
    }
    .rh-method-section .container_rh .rh-flex-method {
      flex-direction: column;
      gap: 25px;
      max-width: 400px;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card,
    .rh-method-section .container_rh .rh-flex-method .rh-method-card-highlighted {
      width: 100%;
      padding: 20px;
      gap: 15px;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-img svg,
    .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-img img {
      width: 40px;
      height: 40px;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-content .rh-method-card-title {
      font-size: 20px;
      line-height: 26px;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-content .rh-method-card-des {
      font-size: 16px;
      line-height: 22px;
    }
  }

  @media (max-width: 576px) {
    .rh-method-section .container_rh {
      padding: 30px 10px;
    }
    .rh-method-section .container_rh .sec-title {
      font-size: 28px;
      margin: 0 0 12px;
    }
    .rh-method-section .container_rh .sec-des {
      font-size: 15px;
      line-height: 22px;
      margin: 0 0 25px;
    }
    .rh-method-section .container_rh .rh-flex-method {
      gap: 20px;
      max-width: 350px;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card {
      padding: 18px;
      gap: 12px;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-img svg,
    .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-img img {
      width: 32px;
      height: 32px;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-content .rh-method-card-title {
      font-size: 18px;
      line-height: 24px;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-content .rh-method-card-des {
      font-size: 14px;
      line-height: 20px;
    }
  }

  @media (max-width: 480px) {
    .rh-method-section .container_rh {
      padding: 25px 8px;
    }
    .rh-method-section .container_rh .sec-title {
      font-size: 24px;
      margin: 0 0 10px;
    }
    .rh-method-section .container_rh .sec-des {
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 20px;
    }
    .rh-method-section .container_rh .rh-flex-method {
      gap: 15px;
      max-width: 100%;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card {
      padding: 16px;
      gap: 10px;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-img svg,
    .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-img img {
      width: 28px;
      height: 28px;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-content .rh-method-card-title {
      font-size: 16px;
      line-height: 22px;
    }
    .rh-method-section .container_rh .rh-flex-method .rh-method-card .rh-method-card-content .rh-method-card-des {
      font-size: 13px;
      line-height: 18px;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Proven Method Section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "The Proven Babbel Method"
    },
    {
      "type": "textarea",
      "id": "section_description",
      "label": "Section Description",
      "default": "Learn a new language, fast. Our award-winning app uses the Babbel Method to help you speak confidently. You can complete quick lessons, practice conversations with an AI partner, listen to podcasts, and more."
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "sa_method_card",
      "name": "Method Card",
      "settings": [
        {
          "type": "select",
          "id": "icon_type",
          "label": "Icon Type",
          "default": "subscription",
          "options": [
            {
              "value": "subscription",
              "label": "Subscription/Money Icon"
            },
            {
              "value": "chart",
              "label": "Chart/Growth Icon"
            },
            {
              "value": "team",
              "label": "Team/People Icon"
            },
            {
              "value": "custom",
              "label": "Custom Image"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Custom Icon Image",
          "info": "Only used if 'Custom Image' is selected above"
        },
        {
          "type": "color",
          "id": "icon_color",
          "label": "Icon Color",
          "default": "#5A287D",
          "info": "Only applies to built-in SVG icons"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Card Title",
          "default": "Card Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Card Description",
          "default": "Card description"
        },
        {
          "type": "checkbox",
          "id": "highlight_card",
          "label": "Highlight this card",
          "default": false,
          "info": "Makes the card larger with more padding (featured card)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SA Proven Method Section",
      "blocks": [
        {
          "type": "sa_method_card",
          "settings": {
            "icon_type": "subscription",
            "icon_color": "#5A287D",
            "title": "15M",
            "description": "Subscriptions Sold",
            "highlight_card": false
          }
        },
        {
          "type": "sa_method_card",
          "settings": {
            "icon_type": "chart",
            "icon_color": "#5A287D",
            "title": "92%",
            "description": "of users improved their proficiency in just 2 months*",
            "highlight_card": true
          }
        },
        {
          "type": "sa_method_card",
          "settings": {
            "icon_type": "team",
            "icon_color": "#5A287D",
            "title": "200+",
            "description": "team of language experts",
            "highlight_card": false
          }
        }
      ]
    }
  ]
}
{% endschema %}
